.form {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  height: 30px;
}

.input {
  font-size: 18px;
  padding: 3px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--extra-extra-light-gray);
}

.button {
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--main-blue);
  color: #ffffff;
  padding: 3px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button[disabled] {
  opacity: 0.7;
}
